/*
Theme Name: Verdandi
Theme URI: https://verdandi.scaldra.net/
Author: Rolf Strathewerd
Author URI: https://rolf.strathewerd.de/
Description: Wordpress Theme for Blogging
Version: 1.7.3
Requires at least: 5.0
Tested up to: 6.7
Requires PHP: 7.2
License: GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: verdandi
Domain Path: /languages
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, post-formats, two-columns, right-sidebar, left-sidebar, one-column, editor-style, sticky-post, blog, rtl-language-support

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Fork of Noto Simple https://wordpress.org/themes/noto-simple/ (C) 2021 Hitomi Seki
Noto Simple is distributed under the terms of the GNU GPL v2 or later.

Verdandi is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Layout
# Forms
# Navigation
  ## Links
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
# Responsive
--------------------------------------------------------------*/

:root {
    --theme-dark: #303030;
    --theme-gray-light: #f0f0f0;
    --theme-gray-normal: #c0c0c0;
    --theme-gray-dark: #707070;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
status,
details,
figcaption,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

figcaption {
    text-align: center;
}


audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: var(--theme-dark);
}

small {
    font-size: 80%;
}

article {
    font-size: 100%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}


hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1rem;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid var(--theme-gray-normal);
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0.5em 1em;
    text-align: left;
}

tr {
    border-bottom: 1px solid var(--theme-gray-normal);
}

thead {
    background: var(--theme-gray-light);
}

thead tr {
    border: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    /* font-size: calc(13px + 0.390625vw);*/
    font-size: 100%;
}

@font-face {
    font-family: Hyperlegible;
    src: url(Atkinson-Hyperlegible-Regular-102a.woff2);
    font-display: swap;
}

@font-face {
    font-family: Hyperlegible;
    src: url(Atkinson-Hyperlegible-Bold-102a.woff2);
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: Hyperlegible;
    src: url(Atkinson-Hyperlegible-Italic-102a.woff2);
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: Hyperlegible;
    src: url(Atkinson-Hyperlegible-BoldItalic-102a.woff2);
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body,
button,
input,
select,
optgroup,
textarea {
    color: var(--theme-dark);
    font-family: Hyperlegible, sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    /* margin-top: 3em;*/
}

p {
    margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    font-size: 110%;
    width: 100%;
    margin: 5px auto;
    font-style: italic;
    color: var(--theme-dark);
    padding: 0.2em 10px 0.2em 40px;
    border-left: 0px;
    line-height: 1.6;
    position: relative;
    background: white;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: var(--theme-gray-light);
    font-family: 'Courier New', monospace !important;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 1.5em 0;
    max-width: 100%;
    overflow: auto;
    padding: 1em 2em;
}

code,
kbd,
tt,
var {
    font: 1.1rem 'Courier', monospace !important;
    background: var(--theme-gray-light);
    padding: 0 0.3em;
}

abbr,
acronym {
    border-bottom: 1px dotted var(--theme-gray-dark);
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
    padding: 0.3em 0.8em;
    margin: 0 0.3em;
}

big {
    font-size: 125%;
}

b,
strong {
    font-weight: bold;
}

.material-icons {
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: white; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote:before {
    position: absolute;
    color: var(--theme-primary);
    font-size: 6rem;
    width: 4rem;
    height: 4rem;
    content: '“';
    left: 0rem;
    top: -2rem;
}


blockquote,
q {
    quotes: "" "";
    padding: 0.5em 3em;

}

.wp-block-quote.is-large:where(:not(.is-style-plain)) p, .wp-block-quote.is-style-large:where(:not(.is-style-plain)) p {
    padding: 0.5em 1em;
}

blockquote cite {
    display: block;
    color: var(--theme-dark);
    font-style: normal;
    font-size: 80%;
    margin-top: 1em;
    text-align: right;
}


q {
    quotes: "" "";
    padding: 1em 2em;
    border-left: 2px solid var(--theme-primary);
    line-height: 3em;
}

hr {
    background-color: var(--theme-gray-normal);
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 1.5em 0;
    padding-left: 2em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 0.5em;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}


table {
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.container {
    width: 90%;
  /*  max-width: 1200px;*/
    margin: 0 auto;
}
.content-area {
    max-width: 1260px;
}
* {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    background: var(--theme-dark);
    border: none;
}


.page-links a,
.edit-link a,
.reply a {
    text-decoration: none;
}

button:not(.menu-toggle):hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn:hover,
button:not(.menu-toggle):focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:focus,
button:not(.menu-toggle):active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn:active {
    opacity: 1;
    background: var(--theme-primary);
    text-decoration: none;
    transition-duration: 300ms;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: var(--theme-dark);
    border: 1px solid var(--theme-gray-normal);
    padding: 3.5px 10px;
    width: 100%;
    max-width: 30em;
}

select {
    border: 1px solid var(--theme-gray-normal);
    min-width: 10em;
    background: white;
    height: 2.5em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: var(--theme-dark);
}

textarea {
    width: 100%;
    max-width: 30em;
}

div.wpcf7-response-output {
    margin: 2em 0 0;
    padding: 1em 2em;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    padding: 20px 0 30px;
    position: relative;
}

.site-branding {
    text-align: center;
}

.site-title {
    font-size: 2.4rem;
    font-weight: normal;
    margin: 0;
}

.site-title a,
.site-title a:visited,
.site-title a:focus {
    text-decoration: none;
    -webkit-text-decoration-line: none;
    color: inherit;
}

.site-description {
    margin: 5px 0 25px;
    font-size: 1.1rem;
    color: var(--theme-dark);
}

.header-image {
    text-align: center;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links text-decoration: underline var(--theme-primary) 2px;
--------------------------------------------------------------*/

a {
    text-decoration: underline var(--theme-primary) 2px;
    -webkit-text-decoration-color: var(--theme-primary);
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    color: var(--theme-dark);
}

a:hover {
    text-decoration: underline var(--theme-secondary) 2px;
    text-underline-offset: 4px;
}


.comments-link a {
    float: right;
    font-size: 90%;
    text-decoration-thickness: 2px;
    vertical-align: top;
    text-decoration: none;
}

.comments-link a:hover {
    float: right;
    text-decoration: none;
    color: var(--theme-primary);
    vertical-align: top;
}

h1.entry-title {
    padding-top: 10px;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/


.main-navigation {
    clear: both;
    display: block;
    width: 100%;
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    position: relative;
    flex: 0 0 auto;
    margin: 0;
}

.main-navigation a {
    display: block;
    text-decoration: none;
    padding: 0.7em 1.5em;
    color: inherit;
}

.main-navigation ul ul {
    box-shadow: 1px 1px 8px var(--theme-gray-normal);
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
    background: white;
}

.main-navigation ul ul ul {
    top: 0;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a,
.main-navigation li.current_page_item > a {
    background: var(--theme-gray-light);
    opacity: 1;
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
    display: block;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.menu-toggle {
    border: none;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
}

.menu-toggle .material-icons {
    font-size: 4rem;
}

.menu-toggle[aria-expanded="false"] .material-icons.close,
.menu-toggle[aria-expanded="true"] .material-icons.open {
    display: none;
}
.menu-toggle {
    background: inherit;
    color: inherit;
}

.main-navigation.toggled {
    box-shadow: 0 2px 6px var(--theme-gray-normal);
}

.main-navigation.toggled ul li:hover > ul,
.main-navigation.toggled ul li.focus > ul {
    width: 100%;
    position: unset;
    box-shadow: none;
    padding-left: 2em;
    font-size: 0.9em;
    float: none;
}

.main-navigation.toggled ul li:hover > ul a,
.main-navigation.toggled ul li.focus > ul a {
    padding-left: 0;
}

.main-navigation.toggled ul li:hover > ul li:last-child,
.main-navigation.toggled ul li.focus > ul li:last-child {
    border: none;
}

.main-navigation.toggled li {
    border-bottom: 1px dashed var(--theme-gray-normal);
}

.main-navigation a {
    width: 100% !important;
}

.main-navigation {
    position: static;
    margin: 0;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }


}

@media (max-width: 767px) {
    .main-navigation {
        display: none;
    }

    .main-navigation.toggled {
        display: block;
    }
}

.site-main .pagination,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    overflow: hidden;
    font-size: 1.1rem;
    margin: 30px 0 50px;
}


.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    text-decoration: none;
    color: inherit;
}


.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
    text-decoration: none;
    color: inherit;
}

.pagination .nav-links {
    text-align: center;
    padding-top: 20px;

}

.pagination .nav-links a {
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-line: none;
}


.pagination .nav-links a:hover,
.page-numbers a:hover {
    text-decoration: underline var(--theme-primary) 3px;
    text-underline-offset: 6px;
    color: var(--theme-dark);
}


.pagination .page-numbers {
    /* color: red;*/
    padding: 7px;
}

.pagination .current {
    background: var(--theme-gray-light);
    color: var(--theme-dark);
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    font-size: 1.1rem;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}

#back-to-top {
    background-color: black;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}



#back-to-top.shown {
    opacity: 0.8;
    visibility: visible;
    transition-delay: 0s;
}

#back-to-top.shown:hover{
    background-color: var(--theme-primary);
    transition-duration: 300ms;
    transition-property:  background-color;
}


#back-to-top .material-icons {
    font-size: 6rem;
}

@media (min-width: 1330px ) {
    #back-to-top {
        right: calc(50vw - 600px);
    }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft,
.alignright,
.aligncenter {
    clear: both;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 568px) {
    .alignleft {
        display: inline;
        float: left;
        margin-right: 1.5em;
    }

    .alignright {
        display: inline;
        float: right;
        margin-left: 1.5em;
    }
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
}

.widget {
    margin: 0 0 50px;
    font-size: 1.1rem;
    flex: 0 1 31%;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

.widget input,
.widget select {
    max-width: 10em !important;
}

.widget ul {
    padding: 0;
    list-style: none;
}

.widget li {
    margin: 0;
    padding: 0.5em 0;
    border-top: 1px dashed var(--theme-gray-normal);
}

.widget li > ul {
    padding: 1em 0 0 1em;
}

.widget li:last-child {

}

.widget li > ul li:last-child {
    border-bottom: none;
}

.widget li:first-child {
    border-top: none;
}

.widget li > ul li:first-child {
    border-top: 1px dashed var(--theme-gray-normal);
}

.widget-title {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 0;
}

.widget a {
    text-decoration: none;
    color: inherit;
}

.search-form {
    display: flex;
}

.search-submit {
    margin-left: 5px !important;
}

@media (max-width: 567px) {
    .widget {
        width: 100%;
        flex: none;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .widget {
        flex: 0 1 48%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .widget {
        flex: 0 1 31%;
    }
}

@media (min-width: 1024px) {
    .widget {
        width: 100%;
        flex: none;
    }
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.home.blog .page-title {
    display: none;
}

.page-title,
h1.entry-title {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
}

h2.entry-title {
    margin: 0;
}

.entry-title a {
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration-line: none;
}

.entry-meta {
    font-size: 90%;
}


.entry-meta a {
    text-decoration: none;
    -webkit-text-decoration-line: none;
}

.entry-footer hr {
    width: 50px;
}


.blog .post,
.archive .post,
.search .post,
.search .page {
    margin-bottom: 50px;
}

.sticky {
    display: block;
    position: relative;
    background-color: #f7f7f7;;
    border: 1px solid var(--theme-secondary);
    border-radius: 5px;
    padding: 1rem;
}



.post:not(.sticky) .sticky-icon {
    display: none;
}

.sticky .sticky-icon {
    float: right;
    font-size: 4rem;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.wp-block-image,
.featured-image {
    margin: 0.5em 0 1em;
    text-align: center;
}


.page-content,
.entry-content,
.entry-summary {
    /*  margin: 1.5em 0 0;*/
    margin: 0;
    line-height: 1.4;
    font-size: 1.1rem;
}

.page-links {
    clear: both;
    padding: 1em 0;
}

.page-links a {
    margin: 0 0.7em;
}

.posted-on:not(:last-child),
.byline:not(:last-child),
.cat-links:not(:last-child) {
    margin-right: 1em;
    border-right: 1px solid var(--theme-gray-normal);
    padding-right: 1em;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area {
    padding-top: 1rem;
    list-style: none;
}

.comments-title {
    text-align: center;
}

.comment-list {
    list-style: none;
    padding: 0;
    margin: 0 0 50px;
}

.comment-list .children {
    list-style: none;
}


.mention,
.trackback,
.pingback,
.comment {
    margin-bottom: 0;
    list-style: none;
}


.comment-list .children .comment:last-child {
    padding-bottom: 0;
}

.comment-list > .comment:first-child,
.comment-list > .pingback:first-child {
    border: none;
}

.comment-meta {
    padding-bottom: 0.5rem;
}


.comment-metadata {
    font-size: 0.8rem;
    padding-top: 2px;
}


.comment-author a,
.comment-metadata a {
    text-decoration: none;
    color: inherit;
}

.comment-author a:hover,
.comment-metadata a:hover {
    text-decoration: underline var(--theme-primary) 3px;
    text-underline-offset: 6px;
    color: var(--theme-dark);
}


.comment-author .avatar {
    margin-right: 0.5em;
    vertical-align: middle;
}

.comment-author .says {
    display: none;
}

.comment .edit-link {
    margin-left: 1em;
}

.comment-reply-link,
.comment-edit-link {
    font-size: 0.8rem;
}

#cancel-comment-reply-link {
    margin-left: 1em;
    display: inline-block;
    border: 1px solid var(--theme-gray-normal);
    border-radius: 3px;
    padding: 0.3em 1em;
    text-decoration: none;
    color: var(--theme-dark);
    background: white;
    font-size: 0.8rem;
}

#cancel-comment-reply-link:hover {
    opacity: 1;
    background: var(--theme-gray-light);
    color: var(--theme-dark);
    border: 1px solid var(--theme-primary);
    text-decoration: none;
    transition-duration: 300ms;
}

.no-comments {
    text-align: center;
    background: var(--theme-dark);
    color: white;
    padding: 0.5em;
    margin: 50px 0;
}


.reply {
    text-align: right;
}


[class*=comment-form-] input,
[class*=comment-form-] textarea {
    display: block;
}

.comment-notes {
    font-size: 1.1rem;
}

@media (max-width: 676px) {
    .comment-list .children .children {
        padding: 0;
    }
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/* no border for images and videos on small screens */
@media (max-width: 1024px) {
    .wp-block-video,
    .wp-block-image {
        width: 100vw;
        margin-left: calc(50% - 50vw);
        max-width: none;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
    font-size: 1.1rem;
}

.wp-caption-text {
    text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/






.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 50%;
}

@media (min-width: 568px) {
    .gallery-columns-3 .gallery-item,
    .gallery-columns-4 .gallery-item,
    .gallery-columns-5 .gallery-item,
    .gallery-columns-6 .gallery-item,
    .gallery-columns-7 .gallery-item,
    .gallery-columns-8 .gallery-item,
    .gallery-columns-9 .gallery-item {
        max-width: 33.33333%;
    }
}

@media (min-width: 768px) {
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }

    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }

    .gallery-columns-6 .gallery-item {
        max-width: 16.66667%;
    }

    .gallery-columns-7 .gallery-item {
        max-width: 14.28571%;
    }

    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }

    .gallery-columns-9 .gallery-item {
        max-width: 11.11111%;
    }
}

.gallery-columns-1 .gallery-item {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-caption {
    display: block;
    font-size: 1.1rem;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 567px) {
    .hidden-sm,
    .visible-md:not(.visible-sm),
    .visible-lg:not(.visible-sm),
    .visible-xl:not(.visible-sm) {
        display: none !important;
    }
}

@media (min-width: 568px) and (max-width: 767px) {
    .hidden-md,
    .visible-sm:not(.visible-md),
    .visible-lg:not(.visible-md),
    .visible-xl:not(.visible-md) {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hidden-lg,
    .visible-sm:not(.visible-lg),
    .visible-md:not(.visible-lg),
    .visible-xl:not(.visible-lg) {
        display: none !important;
    }
}

@media (min-width: 1024px) {
    .hidden-xl,
    .visible-sm:not(.visible-xl),
    .visible-md:not(.visible-xl),
    .visible-lg:not(.visible-xl) {
        display: none !important;
    }


}

.entry-title a:hover,
.site-title a:hover,
.entry-meta a:hover {
    text-decoration: underline var(--theme-primary) 3px;
    text-underline-offset: 6px;
    color: var(--theme-dark);
}

h1, .site-title {
    line-height: 1.2em;
}

.verdandi-excerpt a {
    text-decoration: none;

}

.verdandi-excerpt a:hover {
    text-decoration: none;
}

.verdandi-more {
    font-weight: bold;
    color: var(--theme-secondary);
}

@media (max-width: 567px) {
    h1.entry-title {
        text-align: center;
        font-size: 1.8em;
    }
}


.entry-meta .dashicons {
    vertical-align: middle;
    margin-right: 0.5em;
}

.comments-link .dashicons {
    vertical-align: middle;;
}


h1.entry-title {
    padding: 0.3em 0 0.3em 0;
}

p {
    margin-top: 0;
    margin-bottom: 0.7em;
}


.tags-links {
    font-size: 90%;
}

.tags-links a {
    text-decoration: none;

}

.tags-links a:hover {
    text-decoration: underline var(--theme-primary) 3px;
    text-underline-offset: 6px;
    color: var(--theme-dark);
}

/* Buttons */

.wp-block-button .wp-block-button__link {
    box-shadow: none;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 1.3125em 0.78125em;
    text-decoration: none;
    color: white;
}

.wp-block-buttons[style*="text-transform"] .wp-block-button__link,
.wp-block-button[style*="text-transform"] .wp-block-button__link {
    text-transform: inherit;
}

.wp-block-button__link {
    background: #1a1a1a;
    color: white;
}


.is-style-outline .wp-block-button__link:not(.has-background) {
    background: transparent;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
    color: var(--theme-dark);
}

.wp-block-button .wp-block-button__link:active,
.wp-block-button .wp-block-button__link:focus,
.wp-block-button .wp-block-button__link:hover{
    background: var(--theme-primary);
    text-decoration: none;
    transition-duration: 300ms;
    color: white;
}



.is-style-outline .wp-block-button__link:not(.has-background):active,
.is-style-outline .wp-block-button__link:not(.has-background):hover,
.is-style-outline .wp-block-button__link:not(.has-background):focus,
.is-style-outline .wp-block-button__link:not(.has-text-color):active,
.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.is-style-outline .wp-block-button__link:not(.has-text-color):focus {
    background: var(--theme-primary);
    text-decoration: none;
    transition-duration: 300ms;
    color: white;
    border: 2px solid var(--theme-primary);
}

.wp-block-button .wp-block-button__link:focus {
    outline: thin dotted;
    outline-offset: -4px;
    text-decoration: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: #686868;
    padding: 0.625em 0.4375em;
    width: 100%;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
    background-color: white;
    border-color: var(--theme-secondary);
    color: #1a1a1a;
    outline: 0;
}


.post-type a:hover {
    text-decoration: none;
    color: var(--theme-primary);
}

