/*
 * Theme Name: Verdandi
 *
 * Layout: Content-Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/

@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
    }
    .content-area {
        float: left;
        margin: 0 -25% 0 0;
        width: 100%;
    }
    .site-main {
        margin: 0 28% 0 0;
    }
    .site-content .widget-area {
        float: right;
        overflow: hidden;
        width: 24%;
        display: initial;
        border-left: 1px solid #ccc;
        padding-left: 2em;
    }
    .site-footer {
        clear: both;
        width: 100%;
    }

}
