/*
 * Theme Name: Verdandi
 *
 * Layout: No Sidebar
 *
 * Learn more: https://developer.wordpress.org/themes/basics/template-files/
*/


.container {
  /* max-width: 800px;*/
}

.content-area {
   max-width: 800px;
   margin: 0 auto;
}

.alignfull {
   width:99vw;
   margin-left: calc(50% - 49.5vw);
   max-width: none;
}
.alignwide {
   width: 1000px;
   margin-left: calc(50% - 1000px/2);
}

@media (max-width: 1000px) {
   .alignwide {
      width: 100vw;
      margin-left: calc(50% - 50vw);
      max-width: none;
   }
}

.widget {
   padding: 1rem;
   margin-bottom: 10px;
}
.widget-area {
   border-top: 1px solid  var(--theme-gray-normal);
   margin: 0 auto;
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
